.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 70vw;
    align-items: center;
}